libsocket_cs/obj/Debug/libsocket_cs.dll
libsocket_cs/obj/Debug/libsocket_cs.pdb
libsocket_cs/obj/Debug/libsocket_cs.csproj.FileListAbsolute.txt
libsocket_cs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
libsocket_cs/obj/Debug/libsocket_cs.csprojResolveAssemblyReference.cache